<div class="tab__row">
  <div class="tab"
       *ngFor="let item of list"
       (click)="select(item)">
    {{ item.date | date }}
  </div>
</div>
<div class="tab__list">
  <div class="row row__header">

    <div class="row__item">Country name</div>
    <div class="row__item">League name</div>

    <div class="row__item">Home team</div>
    <div class="row__item">Away team</div>

    <div class="row__item">Home/Away score</div>

    <div class="row__item">Match status</div>
    <div class="row__item">Match date</div>
    <div class="row__item">Match time</div>
  </div>
  <app-row *ngFor="let selected of selectList" [value]="selected"></app-row>
</div>


