<div class="row">
  <div class="row__item">{{value.country_id}}</div>
  <div class="row__item">{{value.country_name}}</div>
  <div class="row__item">{{value.league_id}}</div>
  <div class="row__item">{{value.league_name}}</div>
  <div class="row__item">{{value.match_awayteam_halftime_score}}</div>
  <div class="row__item">{{value.match_awayteam_name}}</div>
  <div class="row__item">{{value.match_awayteam_score}}</div>
  <div class="row__item">{{value.match_date}}</div>
  <div class="row__item">{{value.match_hometeam_halftime_score}}</div>
  <div class="row__item">{{value.match_hometeam_name}}</div>
  <div class="row__item">{{value.match_hometeam_score}}</div>
  <div class="row__item">{{value.match_id}}</div>
  <div class="row__item">{{value.match_live}}</div>
  <div class="row__item">{{value.match_status}}</div>
  <div class="row__item">{{value.match_time}}</div>
</div>
