:host {
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.search__input {
  height: 32px;
  width: 80px;
  box-sizing: border-box;
  border: 1px solid #999999;
}
input.search__input {
  padding-left: 6px;
}

select.search__input {
  min-width: 120px;
}

.search__label {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.search__btn {
  height: 32px;
  width: 140px;
  border: 1px solid #999999;
  border-radius: 3px;
  margin-left: 15px;
}
