<form class="row" [formGroup]="search">
  <div class="input-group">
    <label class="search__label">Date From</label>
    <input class="search__input" type="text" placeholder="From">
  </div>

  <div class="input-group">
    <label class="search__label">Date to</label>
    <input class="search__input" type="text" placeholder="to">
  </div>

  <div class="input-group">
    <label class="search__label">Select country</label>
    <select class="search__input" formControlName="country">
      <option value="197">Ukraine</option>
    </select>
  </div>


  <div class="input-group">
    <label class="search__label">Select league</label>
    <select class="search__input" formControlName="league">
      <option value="376">Arsenal</option>
      <option value="70">62</option>
    </select>
  </div>


  <button class="search__btn" type="button" (click)="searchFunc()">Search</button>
</form>
